<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>玛卡拉拉</string>
		<key>name</key>
		<string>mkll</string>
	</dict>
	<dict>
		<key>name</key>
		<string>bjuma</string>
		<key>title</key>
		<string>北极UMA</string>
	</dict>
	<dict>
		<key>title</key>
		<string>天狗</string>
		<key>name</key>
		<string>tg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>绿孩</string>
		<key>name</key>
		<string>lh</string>
	</dict>
</array>
</plist>
